:root
  --open-sans: "Open Sans", sans-serif
  --nunito-sans: "Nunito", sans-serif

  --accent-light: #FBB731
  --accent-dark: #F37335
  --dark: #443737
  --light: #FFFFFF
  --light-rgb: 255, 255, 255
  --dark-rgb: 68, 55, 55
  --line: #DEDEDE
  --tr: 0.2s

body
  font-family: var(--open-sans)

a
  text-decoration: none

.container
  width: 100%
  max-width: 1182px
  margin: 0 auto
  padding-left: 15px
  padding-right: 15px

.header
  border-bottom: 1px solid var(--line)


.header-wrapper
  display: flex
  align-items: center
  gap: 196px
  padding-top: 26px
  padding-bottom: 26px


.logo
  display: block
  width: 176px
  height: 56px
  background-image: url("../img/logo.svg")
  background-repeat: no-repeat
  background-size: contain


.nav
  flex-grow: 1
  display: flex
  gap: 47px

.nav-link
  color: var(--dark)
  font-size: 20px
  font-weight: 600
  &:after
    content: ""
    display: block
    width: 100%
    height: 3px
    background-color: transparent
    border-radius: 1.5px
    transition: var(--tr)
  &:hover
    &:after
      background-color: var(--accent-light)

.cart
  color: var(--dark)
  font-weight: 700
  font-size: 15px
  display: flex
  align-items: center
  gap: 10px
  position: relative
  &:before
    content: ""
    display: block
    width: 30px
    height: 26px
    background-image: url("../img/shopping-cart.svg")
    background-repeat: no-repeat
    background-size: contain

.cart-count
  display: flex
  align-items: center
  justify-content: center
  border-radius: 100%
  width: 17px
  height: 17px
  background: var(--accent-dark)
  font-size: 10px
  line-height: 16px
  text-align: center
  color: var(--light)
  position: absolute
  left: 17px
  bottom: 0


.hero
  background-image: url("../img/hero.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  text-align: center
  padding-bottom: 142px
  padding-top: 142px


.breadcrumbs
  display: flex
  align-items: center
  justify-content: center
  list-style-type: none
  gap: 16px
  padding-left: 0
  color: rgba(var(--light-rgb), 0.5)
  font-size: 15px
  margin-top: 0
  margin-bottom: 0


.breadcrumbs-item:not(:last-child)
  position: relative
  &:after
    content: "/"
    position: absolute
    right: -12px

.breadcrumbs-link
  color: rgba(var(--light-rgb), 0.5)
  transition: var(--tr)
  &:hover
    color: var(--accent-light)

.hero-title
  color: var(--light)
  font-weight: 700
  font-size: 79px
  text-transform: capitalize
  font-family: var(--nunito-sans)
  margin-top: 17px //
  margin-bottom: 20px

.hero-description
  color: rgba(var(--light-rgb), 0.8)
  font-size: 15px
  line-height: 160%
  max-width: 320px
  margin: 0 auto
  margin-top: 17px


.banner
  margin-top: 140px

.banner-wrapper
  background-image: url("../img/banner_bg.jpg")
  background-repeat: no-repeat
  background-size: cover
  padding: 100px
.banner-title
  font-family: var(--nunito-sans)
  font-weight: 900
  font-size: 60px
  line-height: 126%
  color: var(--light)
  margin: 0
  margin-bottom: 11px
  text-transform: uppercase
  span
    font-family: var(--open-sans)
    color: var(--light)
    display: block
    background: var(--accent-dark)
    max-width: 95px
    border-radius: 14px
    font-weight: 600
    font-size: 14px
    line-height: 128%
    text-transform: uppercase
    text-align: center
    padding: 5px 0
    margin-bottom: 4px
.banner-description
  max-width: 328px
  font-weight: 400
  font-size: 15px
  line-height: 160%
  color: rgba(var(--light-rgb), 0.8)
  margin: 0
  margin-bottom: 13px
.banner-btn
  background: var(--accent-light)
  border-radius: 5px
  font-family: var(--nunito-sans)
  font-weight: 700
  font-size: 14px
  line-height: 18px
  text-align: center
  text-transform: uppercase
  color: var(--dark)
  padding: 22px 25px
  text-decoration: none
  border: none
  transition: var(--tr)
  &:hover
    background-color: var(--accent-dark)
    cursor: pointer

.menu
  margin-bottom: 140px

.menu-header
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 100px
  margin-bottom: 34px

.menu-select
  border: 1px solid var(--line)
  border-radius: 22px
  font-weight: 400
  font-size: 15px
  appearance: none
  flex-basis: 279px
  background-image: url("../img/chevron-down.svg")
  background-size: 14px 10px
  background-repeat: no-repeat
  background-position: 89% center
  line-height: 160%
  color: var(--dark)
  padding: 13px 30px
  font-family: var(--open-sans)

.menu-title
  margin-top: 0
  margin-bottom: 0
  color: var(--dark)
  font-family: var(--nunito-sans)
  font-weight: 700
  line-height: 127%
  text-transform: uppercase


.menu-box
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: auto
  gap: 50px 20px

.menu-thumb
  width: 100%
  height: 430px
  position: relative
  overflow: hidden
  img
    width: 100%
    height: 100%
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    object-fit: cover

.menu-name
  font-family: var(--nunito-sans)
  font-weight: 600
  font-size: 30px
  line-height: 127%
  text-align: center
  color: var(--dark)
  margin-top: 20px
  margin-bottom: 5px

.menu-price
  font-family: var(--nunito-sans)
  font-weight: 700
  font-size: 20px
  text-align: center
  color: rgba(var(--dark-rgb), 0.5)
  margin-top: 0
  margin-bottom: 20px

.menu-btn
  display: flex
  align-self: center
  justify-content: center
  gap: 10px
  margin: 0 auto
  padding: 11px 32px
  background: var(--accent-light)
  border-radius: 5px
  font-family: var(--nunito-sans)
  font-weight: 700
  font-size: 14px
  line-height: 18px
  text-align: center
  text-transform: uppercase
  color: var(--dark)
  border: 0
  text-decoration: none
  transition: var(--tr)
  &:hover
    cursor: pointer
    background-color: var(--accent-dark)
  &:before
    content: ""
    display: block
    background-image: url("../img/cart.svg")
    background-size: cover
    background-repeat: no-repeat
    height: 18px
    width: 18px

.footer
  background-color: #1E2F40
  padding-top: 110px
  padding-bottom: 120px

.footer-wrapper
  display: flex
  justify-content: space-between


.footer-logo
  display: block
  height: 56px
  width: 63px
  background-image: url("../img/logo_min.svg")
  background-repeat: no-repeat
  background-size: contain


.footer-item
  color: var(--light)

.footer-title
  font-family: var(--nunito-sans)
  font-weight: 800
  line-height: 190%
  font-size: 20px
  text-transform: uppercase
  margin-top: 0
  margin-bottom: 13px

.footer-nav
  display: flex
  flex-direction: column
  gap: 9px
  a
    color: rgba(var(--light-rgb), 0.9)
    text-decoration: none
    font-weight: 400
    font-size: 15px
    line-height: 160%
    transition: var(--tr)
    &:hover
      color: var(--accent-light)

.footer-list
  font-weight: 700
  font-size: 15px
  line-height: 160%
  list-style-type: none
  padding: 0
  margin: 0
  li:not(last-child)
    margin-bottom: 14px
  span
    display: block
    font-weight: 400
    color: rgba(var(--light-rgb), 0.9)

.footer-tel
  display: block
  font-family: var(--nunito-sans)
  font-weight: 800
  font-size: 20px
  text-transform: uppercase
  color: var(--accent-light)
  margin-top: 12px
  transition: var(--tr)
  &:hover
    color: var(--light)

